@import 'base';
@import 'color';
@import 'mobile';

%alinCenter{
    display: flex;
    align-items: center;
}

/* nav bar */
.navbar{
    @extend %alinCenter;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
    z-index: 10;
    width: 100%;
    height:50px ;
    background-color: $light;
    &_logo{
        color: $dark;
        text-decoration: none;
        @extend %alinCenter;
        justify-content: center;
    }
    &_bars{
        opacity: 0;
        @include tablet{
            color: rgb(34 33 33);
            position: absolute;
            top: 10px;
            right: 28px;
            opacity: 1;
            font-size: 2rem;
        }
    }
    &_menu{
        @extend %alinCenter;
        justify-content: center;
        list-style: none;
        height: 100%;
        @include tablet{
            display: none;
        }
        
        &_links{
            text-decoration: none;
            color: $dark;
            margin-right: 10px;
            margin-top: 30px;
            width: 80px;
            height: 50px;
            &:hover{
                color:$lime;
                transition: all 0.3s ease;
            }
        }
        #button{
            background: $lime;
            color: $light;
            border-radius: 3px;
           @extend %alinCenter;
           justify-content: center;
           margin: 5px;
           &:hover{
               background: $orangeRed;
               transition: all 0.3s ease;
           }

        }
    }
}
/* end of nav bar */

/* hero section */
.hero{
  width: 100%;
  max-height: 400px;
  background-color: $light;  
  &_container{
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: 1fr 1fr ;
      line-height: 2;
      @include tablet{
          grid-template-columns: 1fr;
          line-height: 1.5;
      }
      &_left{
          @extend %alinCenter;
          justify-content: center;
          flex-direction: column;
          & h1{
              color: $lime;
              font-weight: 700;
              font-size: 30px;
        }
        & h2{
            color: $dark;
            font-size: 25px;
        }
        & p{
            color: $dark;
        }
      }
      &_right{
          width: 100%;
          height: 100%;
          @extend %alinCenter;
          justify-content: center;
          & img{
            height: 380px;
            margin-top: 50px;
          }
      }
      &_btn{
        width: 80px;
        height: 40px;
        background-color: $lime;
        cursor: pointer;
        position: relative;
        & a{
            text-decoration: none;
            color: $light;
            font-weight: 700;
            width: 100%;
            height: 100%;
            z-index: 10;
            position: absolute;
            z-index: 10;
            left: 0;
            top: 0;
            @extend %alinCenter;
            justify-content: center;
        }
        &:after{
            position: absolute;
            background-color: $orangeRed;
            transition: all .6s ease;
            width: 0px;
            height: 100%;
            content: '';
            left: 0;
            top: 0;
        }
        &:hover:after{
            width: 100%;
        }


    }
    }
}
/* end of hhero sectiion */